@{
    ViewData["Title"] = "Home Page";
}

<div class="container mb-3">
    <div class="row d-flex align-items-center">
        <div class="col-lg-6">
            <img src="https://thedentistsdorridge.co.uk/wp-content/uploads/2019/11/be_a_denist.jpg" alt="image" class="img-fluid" style="width: 35em; height: 30em;"/>
        </div>
        <div class="col-lg-6">
            <h1 class="fw-bold">Tandartspraktijk Hengelo</h1>
            <p>
                <span class="fw-bold">
                    Welkom bij Tandartspraktijk Hengelo, waar uw glimlach onze prioriteit is!
                </span>   
                <br />
                Ons team van ervaren tandartsen en mondhygiënisten staat klaar om u de beste zorg te bieden, met een focus op preventie en persoonlijke aandacht. We gebruiken moderne technieken en materialen om uw gebit gezond en mooi te houden.
            </p>
            <h4 class="mt-3">Onze diensten</h4>
            <ul>
                <li>
                    Algemene tandheelkunde
                </li>
                <li>
                    Mondhygiëne
                </li>
                <li>
                    Preventieve tandheelkunde
                </li>
                <li>
                    Tandrestauraties (kronen, bruggen, vullingen)
                </li>
                <li>
                    Orthodontie (beugels)
                </li>
                <li>
                    Implantologie
                </li>
                <li>
                    Bleken
                </li>
            </ul>
        </div>
    </div>
    <div class="row justify-content-center d-flex justify-content-center g-2 py-5 bg-primary p-5 rounded-5 text-white mt-5">
        <h2 class="font-bold">Openingstijden Tandartspraktijk Hengelo</h2>

        <p>Hieronder staan de openingstijden van de Tandartspraktijk Hengelo:</p>

        <ul class="flex g-3 flex-column">
            <li>Maandag tot en met donderdag van <strong>18.00 tot en met 22.00 uur.</strong></li>
            <li>Vrijdag, zaterdag en zondag van <strong>12.00 - 16.00 uur en van 18.00 - 22.00 uur.</strong></li>
            <li>'s Avonds en in het weekend kunt u wel gebruik maken van het gratis parkeerdek, vrijdags van 12:00-16:00 uur niet, parkeert u dan in de omgeving of in de parkeergarage. Tijdens de pauzes en buiten onze openingstijden wordt de telefoon doorgeschakeld naar onze telefoondienst, zij helpen u verder of plannen een afspraak met u in.</li>
            <li>
                Buiten de openingstijden van de Tandartspraktijk Hengelo wordt u voor acute spoedeisende behandelingen verder geholpen via het nooddienstnummer:
                053 - 792 00 40
            </li>
        </ul>

        <strong>Let op, de openingstijden kunnen afwijken in verband met drukte en/of weinig geplande afspraken!</strong>
    </div>

    <div class="row mt-5">
        <div>
            <h3 class="fw-bold">
                Waarom kiezen voor Tandartspraktijk Hengelo?
            </h3>
            <h4 class="mt-3">
                Ervaren en gediplomeerd team:
            </h4>
            <p>
                Ons team van tandartsen en mondhygiënisten heeft jarenlange ervaring en is gediplomeerd aan de beste universiteiten. We volgen continu bijscholing om op de hoogte te blijven van de nieuwste technieken en materialen.
            </p>
            <h4  class="mt-3">
                Moderne praktijk met geavanceerde apparatuur:
            </h4>
            <p>
                We beschikken over een moderne praktijk met geavanceerde apparatuur, waardoor we u de best mogelijke zorg kunnen bieden. We gebruiken onder andere digitale röntgentechnologie, waardoor we uw gebit met minder straling kunnen belichten.
            </p>
            <h4 class="mt-3">
                Klantgerichte service:
            </h4>
            <p>
                We vinden het belangrijk dat u zich prettig voelt in onze praktijk. We nemen de tijd voor u en bespreken uw wensen en behoeften in alle rust. We streven naar een langdurige relatie met onze patiënten en baseren onze zorg op uw individuele wensen.
            </p>
            <h4  class="mt-3">
                Flexibele afspraaktijden:
            </h4>
            <p>
                We begrijpen dat het niet altijd even makkelijk is om een afspraak te maken tijdens kantooruren. Daarom bieden we flexibele afspraaktijden aan, ook in de avond en op zaterdag.
            </p>
            <h4  class="mt-3">
                Spoedhulp:
            </h4>
            <p>
                Heeft u acute pijnklachten? Dan kunt u altijd contact met ons opnemen voor spoedhulp. We proberen u dan zo snel mogelijk te helpen.
            </p>
        </div>
    </div>
</div>
