@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Visie";

}

<div class="container">
    <div class="row">
        <h1 class="fw-bold">Onze visie</h1>
            <p>
                Wij geloven dat iedereen recht heeft op een gezond gebit en een stralende lach. Dit is niet alleen belangrijk voor de esthetiek, maar ook voor de algehele gezondheid en het welzijn van mensen.
                <br />
                Onze visie is om tandheelkundige zorg te bieden die gericht is op preventie, kwaliteit en duurzaamheid. We willen onze patiënten helpen om een gezond gebit te behouden, en hen te informeren en te motiveren om goede mondzorg te praktiseren.
                <br />
                We streven naar een langdurige relatie met onze patiënten, gebaseerd op vertrouwen en wederzijds respect. We nemen de tijd om naar hen te luisteren, hun wensen en behoeften te begrijpen, en hen te adviseren over de beste behandelopties.
                <br />
                We investeren voortdurend in de nieuwste technologieën en behandelmethoden om onze patiënten de best mogelijke zorg te kunnen bieden. We werken met een team van gedreven en deskundige professionals die allen gepassioneerd zijn over tandheelkunde.
            </p>
            <h3 class="fw-bold mt-4">Onze kernwaarden</h3>
            <ul>
                <li>
                    <span class="fw-bold">
                        Preventie:
                    </span>
                     We benadrukken het belang van preventieve mondzorg en bieden voorlichting en advies over hoe u uw gebit gezond kunt houden.
                </li>
                <li>
                    <span class="fw-bold">
                        Kwaliteit:
                    </span>
                     We leveren hoogwaardige tandheelkundige zorg volgens de laatste richtlijnen en met de beste materialen.
                </li>
                <li>
                    <span class="fw-bold">
                        Duurzaamheid:
                    </span>
                     We streven naar behandelingen die lang meegaan en die het natuurlijke gebit zoveel mogelijk behouden.
                </li>
                <li>
                    <span class="fw-bold">
                        Patiëntgericht:
                    </span>
                     We zetten de patiënt centraal en nemen de tijd om naar hun wensen en behoeften te luisteren.
                </li>
                <li>
                    <span class="fw-bold">
                        Betrouwbaarheid:
                    </span> We zijn een betrouwbare partner voor onze patiënten en bieden een professionele en servicegerichte tandheelkundige zorg.
                </li>
            </ul>
            <h3 class="fw-bold mt-4">Onze missie</h3>
            <p>
                Wij zetten ons in om de mondgezondheid van onze patiënten te verbeteren en hen te helpen om een gezond gebit en een stralende lach te behouden. We doen dit door:
            </p>
            <ul>
                <li>
                    Preventieve voorlichting en advies te geven over mondzorg.
                </li>
                <li>
                    Kwalitatief hoogwaardige tandheelkundige zorg te bieden.
                </li>
                <li>
                    Te investeren in de nieuwste technologieën en behandelmethoden.
                </li>
                <li>
                    Samen te werken met een team van gedreven en deskundige professionals.
                </li>
                <li>
                    Een langdurige relatie met onze patiënten op te bouwen, gebaseerd op vertrouwen en wederzijds respect.
                </li>
            </ul>
    </div>
</div>